
.Header{
    margin-left: 20px;
    margin-right: 20px;
    color:#FFFFFF;
   display: flex;
   justify-content: space-between;
  }
  .Login{
    color: #FFFFFF;
    margin-top: 80px;
    text-align: center;
  }
  #Email{
    margin-right: 50px;
    background-color: #FFFFFF;
    padding: 8px;
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: none;
  }
  #Password{
    background-color: #FFFFFF;
    padding: 8px;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    border: none;
  }
  .icons{
    background-color: #FFFFFF;
    font-size: 1rem;
    padding: 6px;
    outline: none;
    border: none;
    margin-left: -1.8rem;
    cursor: pointer;
  }
  #forget{
    color: rgb(199, 190, 190);
  }
  .Login-btn{
    background-color: #03AAD3 ;
    text-align: center;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
  }
  .footer{
    position:absolute;
        bottom:0;
        display:block;  
        width:100%;
        background-color:#101827;
  }
  p{
    text-align: center;
   vertical-align: middle;
   color: #4D4D4D;
  }